/* Contact Form */
.contact-form {
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px 
  rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

label{
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 97.5%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 5px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.contact-form button:hover {
  background-color: #0056b3;
}

textarea {
  resize: none; 
  /* Prevent resizing */
  height: 150px;
}

/* Success Message */
.enrolled-msg {
  background-color: #f8f9fa;
  color: #28a745;
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  display: none;
  border: 2px solid #28a745; 
}





