
.course-list h2 {
  text-align: center;
}

.course-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.course-item {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 
  rgba(0, 0, 0, 0.1);
}

.course-item:hover{
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.course-item img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.course-item p {
  font-weight: bold;
}


.course-item ul {
  list-style-type: disc;
  padding-left: 15px;
  text-align: left;
  margin-top: 5px;
}

.course-item ul li {
  font-size: 14px;
  color: #555;
  margin: 3px 0;
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.styled-table {
  width: 79.1%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 
  rgba(0, 0, 0, 0.1);
}

.styled-table thead {
  background-color: #007BFF;
  color: white;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.alternate-row {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #e9ecef;
  transition: 0.3s ease;
}

.styled-table th {
  text-transform: uppercase;
}

tbody {
  cursor: pointer;
}

@media (max-width : 768px) {
  .styled-table {
    width: 100%;
    margin: 1.5rem;
  }
}
