/* Instructor Section */
.instructor-list {
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
}

.instructor-gallery {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 5rem;
}

.instructor-item {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 
  rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.instructor-item:hover{
  transform: scale(1.05);
}

.instructor-item img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.instructor-item h3 {
  margin: 15px 0;
}

.instructor-item a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.instructor-item a:hover {
  text-decoration: underline;
}

/* Intro Section */
.intro {
  background-color: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 10px 
  rgba(0, 0, 0, 0.1);
}

.intro h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.intro p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}


